(js/events.js, js/gcodeParser.js, js/main.js, js/ruler.js, js/utils.js, js/viewer.js)

# Image files
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.webm

# Compressed files
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst